<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>NoVa Code &amp; Coffee</h2>
        <p>:)</p>
      </div>
      <div class="col-md-3">
        <h2>Chat</h2>
        <p>Join us on Slack!</p>
        <p><a class="btn btn-default btn-lg" href="http://novacodecoffee.herokuapp.com" role="button">
            Request Invite &raquo;</a></p>
        <p><a class="btn btn-default btn-lg" href="https://novacodecoffee.slack.com/" role="button">Slack &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>Links</h2>
        <p><a class="btn btn-default btn-lg" href="http://www.meetup.com/NoVA-Code-Coffee" role="button"><i class="fa fa-calendar"></i>  Meetup</a></p>
        <p><a class="btn btn-default btn-lg" href="https://github.com/NoVACodeCoffee" role="button"><i class="fa fa-github-alt"></i>  GitHub</a></p>
      </div>
    </div>
  </div>
</div>
