<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>NoVa Code &amp; Coffee</h2>
        <p>This group meets twice a month on Saturdays at <a href="http://maps.google.com/?q=2910%20District%20Avenue%20+Fairfax">CustomInk headquarters</a> in Fairfax, Virginia. Developers of all skill levels come together to work on and discuss projects with each other.</p>
      </div>
      <div class="col-md-3">
        <h2>Chat</h2>
        <p><a class="btn btn-teal" href="http://dctechslack.herokuapp.com" role="button"><i class="fa fa-slack"></i>
            Slack Signup</a></p>
        <p><a class="btn btn-teal" href="https://dctech.slack.com/messages/nova-code-coffee/" role="button"><i class="fa fa-slack"></i> Slack Channel</a></p>
      </div>
      <div class="col-md-3">
        <h2>Links</h2>
        <p><a class="btn btn-teal" href="http://www.meetup.com/NoVA-Code-Coffee" role="button"><i class="fa fa-calendar"></i> Meetup</a></p>
        <p><a class="btn btn-teal" href="https://github.com/NoVACodeCoffee" role="button"><i class="fa fa-github-alt"></i> GitHub</a></p>
        <p><a class="btn btn-teal" href="http://www.twitter.com/novacodecoffee" role="button"><i class="fa fa-twitter"></i> Twitter</a></p>
      </div>
    </div>
  </div>
</div>
