<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <div class="titleUpper">Code &amp; Coffee</div>
        <div class="titleLower">NoVa</div>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a class="" href="https://github.com/NoVACodeCoffee" role="button"><i class="fa fa-github-alt"></i></a></li>
        <li><a class="" href="http://www.meetup.com/NoVA-Code-Coffee" role="button"><i class="fa fa-calendar"></i></a></li>
        <li><a class="" href="http://www.twitter.com/novacodecoffee" role="button"><i class="fa fa-twitter"></i></a></li>
        <li><a class="" href="https://dctech.slack.com/messages/nova-code-coffee/" role="button"><i class="fa fa-slack"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
