<div style="margin: 30px"></div>
<h2 class="teal">Sponsored By</h2>
<div class="tc">
  <div class="sponsor viget">
    <a href="https://www.viget.com/">
      <img src="/Viget_logo.png" alt="viget logo" />
    </a>
  </div>
  <div class="sponsor">
    <a href="https://www.excella.com/">
      <img src="/excella_new_logo.png" alt="excella logo" />
    </a>
  </div>
  <div class="sponsor">
    <a href="https://pluribusdigital.com/">
      <img src="/pluribusdigital-w.svg" alt="pluribusdigital logo" />
    </a>
  </div>
</div>
